.catalog {
  display: flex;
  flex-direction: column;

  &_top {
    width: 100%;

    > img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &_wrapper {
    padding: var(--top-padding) var(--sides-padding);
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }

    &_selector {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;

      h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 26.4px;
        text-align: center;
      }

      p {
        position: absolute;
        right: 0;
        transform: rotate(-90deg);
      }
    }
  }

  &_bottom {
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2 - 10px));
    justify-content: space-between;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 11px;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        aspect-ratio: 7 / 4;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 100%);
      gap: 10px;
    }
  }
}
