.atributes {
  display: flex;
  flex-direction: column;
  padding: 60px 36px;
  gap: 32px;

  &_top {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
  }

  &_menu,
  &_menu_sizes {
    display: flex;
    background: var(--gray);
    border-radius: 16px;
    width: fit-content;
    padding: 6px;

    &_item {
      padding: 5px 12px;
      border-radius: 12px;
      color: var(--dark-gray);
      min-width: 110px;
      height: 38px;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &_active {
        background: var(--white);
        color: var(--dark);
      }
    }
  }

  &_menu_sizes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &_list {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6.5px 0px #c8c8c81a;
    border-radius: 12px;
    padding: 36px 54px;

    > h3 {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--admin-light-gray);
    }

    &_items {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 24px;
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 7px 16px;
      border-radius: 12px;
      background: #f2f3f5;
      width: fit-content;
    }

    button {
      cursor: pointer;
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #8484844d;
  width: 100%;
  height: 100vh;
  padding: 10px;
  z-index: 3;

  &_body {
    z-index: 50;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 64px);
    overflow: auto;
    gap: 32px;
    background: var(--white);
    padding: 32px;
    border-radius: 12px;
    width: calc(100% - 64px);
    max-width: 700px;

    &_label {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
      }

      input,
      select,
      textarea {
        padding: 7px 12px;
        outline: none;
        height: 40px;
        width: 100%;
        border: 1px solid #bdbfc7;
        border-radius: 12px;
      }
    }
  }
}

.seasonAtributes {
  display: flex;
  flex-direction: column;

  &_list {
    display: flex;
    flex-direction: column;

    &_top {
      display: grid;
      grid-template-columns: 220px 220px 1fr;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--admin-light-gray);
      background: #f9fafb;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }

    &_item {
      display: grid;
      grid-template-columns: 220px 220px 1fr;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #dde1e6;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 33px 0;
      }

      section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        padding: 20px;

        > :first-child {
          color: var(--light-red);
          background: #fff3f3;
        }

        button {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          font-size: 20px;
          background: #f8f8f8;
          color: var(--dark-gray);
        }
      }
    }
  }
}

.brands {
  display: flex;
  flex-direction: column;

  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 25px;

    &_item {
      display: flex;
      flex-direction: column;
      padding: 18px;
      gap: 18px;
      border-radius: 12px;
      box-shadow: 0px 4px 6.5px 0px #c8c8c81a;

      &_top {
        display: flex;
        align-items: center;
        gap: 18px;
        border-bottom: 2px solid var(--admin-light-gray);
        padding: 18px;

        img {
          border-radius: 50%;
          width: 90px;
          height: 90px;
          object-fit: cover;
        }
      }
    }
  }
}

.colorAtributes,
.sizeTypes {
  display: flex;
  flex-direction: column;

  &_list {
    display: flex;
    flex-direction: column;

    &_top {
      display: grid;
      grid-template-columns: 220px 220px 220px 1fr;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--admin-light-gray);
      background: #f9fafb;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }

    &_item {
      display: grid;
      grid-template-columns: 220px 220px 220px 1fr;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #dde1e6;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 33px 0;
      }

      section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        padding: 20px;

        > :first-child {
          color: var(--light-red);
          background: #fff3f3;
        }

        button {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          font-size: 20px;
          background: #f8f8f8;
          color: var(--dark-gray);
        }
      }
    }
  }
}

.sizeTypes {
  &_list {
    &_item {
      grid-template-columns: 220px 1fr 220px;

      > :nth-child(2) {
        text-align: left;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
