.productsList {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  padding-right: 80px;
  gap: 48px;

  &_container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &_top {
    display: flex;
    justify-content: space-between;

    > section {
      display: flex;
      gap: 25px;
      align-items: center;
    }

    &_label {
      display: flex;
      align-items: center;
      border-radius: 12px;
      border: 1px solid var(--admin-light-gray);
      height: 40px;
      padding: 10px 15px;
      gap: 5px;
      width: 270px;

      input {
        width: 200px;

        &::placeholder {
          font-family: Nunito Sans;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0px;
        }
      }

      button {
        cursor: pointer;
      }

      svg {
        font-size: 18px;
      }
    }

    &_filterButton > p,
    &_deleteButton {
      display: flex;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      height: 40px;
      width: 40px;
      border: 1px solid var(--admin-light-gray);
      border-radius: 12px;
    }

    &_filterButton {
      position: relative;

      p {
        width: 110px;
      }

      > p:hover {
        background: var(--gray);
      }

      &_child_active {
        right: 0;
        top: calc(100% + 5px);
        z-index: 1;
        border: 1px solid var(--admin-light-gray);
        padding: 20px;
        width: 750px;
        border-radius: 12px;
        box-shadow: 0px 4px 5px 0px #fefefe0d;
        box-shadow: 0px 4px 5.1px 0px #48484805;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        position: absolute;
        background: #fff;
      }
    }

    &_deleteButton {
      width: 40px;
      padding: auto;
      padding: 10px;
      font-size: 18px;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    &_top {
      display: grid;
      grid-template-columns: 290px 120px 155px 150px 140px 172px;
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background: #f9fafb;
      border-bottom: 1px solid #dde1e6;
      justify-content: space-evenly;

      p {
        font-family: Inter;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(32, 34, 36, 0.8);
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
      }

      > :first-child,
      > :last-child {
        justify-content: flex-start;
        cursor: auto;
      }
    }

    &_bottom {
      display: flex;
      flex-direction: column;
    }

    &_item {
      display: grid;
      grid-template-columns: 290px 120px 155px 150px 140px 172px;
      border-bottom: 1px solid #dde1e6;
      justify-content: space-evenly;

      label {
        font-family: Nunito Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        color: rgba(32, 34, 36, 0.8);
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      > :first-child {
        justify-content: flex-start;
        cursor: pointer;
      }

      section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        a {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          background: #f8f8f8;
          border-color: #f8f8f8;
        }
      }
    }
  }

  &_hoverItem {
    position: relative;

    i {
      display: none;
    }

    &:hover i {
      display: flex;
      position: absolute;
      font-family: Nunito Sans;
      font-weight: 600;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0px;
      background: linear-gradient(0deg, #202224, #202224),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
      bottom: 100%;
      color: var(--white);
      text-wrap: nowrap;
      left: 50%;
      padding: 10px;
      font-style: normal;
      transform: translate(-50%, -10px);

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background: linear-gradient(0deg, #202224, #202224),
          linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 5px) rotate(45deg);
      }
    }
  }
}

.deleteModal {
  background: #8484844d;
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0px 4px 6.5px 0px #c8c8c81a;
    width: 100%;
    max-width: 700px;
    border-radius: 12px;

    button {
      cursor: pointer;
      height: 40px;
      background: var(--admin-light-gray);
      border-radius: 12px;
      font-family: Nunito Sans;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: var(--white);
    }
  }
}
