.profile_page {
  display: flex;
  flex-direction: row;
  padding: var(--top-padding) var(--sides-padding);
  gap: 100px;
  background: var(--white);
  color: var(--dark);

  &_navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;

    button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      background: var(--white);
      border-radius: 8px;
      color: var(--dark);
      font-size: 15px;
      font-weight: 500;
      line-height: 17px;
      cursor: pointer;
      transition: background 0.3s;

      svg {
        font-size: 17px;
      }
    }

    &_active {
      background: var(--light-gray) !important;
      color: var(--blue) !important;
    }

    @media (max-width: 1024px) {
      gap: 5px;
      width: minmax(150px, 200px);

      button {
        padding: 10px 15px;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 900px;
    width: 100%;
  }

  @media (max-width: 1440px) {
    padding: 50px;
  }

  @media (max-width: 1214px) {
    flex-direction: column;
    gap: 30px;
    padding: 0 !important;

    &_navigation {
      display: flex;
      flex-direction: row;
      overflow: auto;
      white-space: nowrap;
      width: 100%;
      max-width: 100%;
    }

    &_right {
      max-width: 100%;
      width: 100%;
      gap: 20px;
      h1 {
        padding: 0 14px;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 12px 16px;
  }
}
