.profile {
  display: flex;
  flex-direction: column;
  padding: 50px 150px;
  gap: 20px;

  p,
  span {
    color: #282b32;
  }

  &_top {
    display: flex;
    justify-content: space-between;

    &_title {
      font-size: 64px;
      font-weight: 600;
      line-height: 76.8px;
      width: 35%;

      @media (max-width: 1024px) {
        font-size: 36px;
        font-weight: 600;
        line-height: 39.6px;
        width: 30%;
      }
    }

    &_sale {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      background: #f2f2f2;
      padding: 36px;
      width: 65%;

      img {
        width: 100px;

        @media (max-width: 1024px) {
          width: 64px;
        }
      }

      &_bottom {
        display: flex;
        flex-direction: column;
        gap: 15px;

        > h1 {
          font-size: 40px;
          font-weight: 600;
          line-height: 48px;

          @media (max-width: 1024px) {
            font-size: 22px;
            font-weight: 600;
            line-height: 26.4px;
          }
        }

        > p {
          font-size: 22px;
          font-weight: 400;
          line-height: 28.6px;

          @media (max-width: 1024px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 23.4px;
          }
        }

        &_process {
          display: flex;
          flex-direction: column;
          gap: 5px;

          > span {
            font-size: 19px;
            font-weight: 400;
            line-height: 22.8px;

            @media (max-width: 1024px) {
              font-size: 18px;
              font-weight: 400;
              line-height: 23.4px;
            }
          }
        }

        > a {
          font-size: 19px;
          font-weight: 400;
          line-height: 22.8px;
          color: #dc2a1f;
          text-decoration: none;

          @media (max-width: 1024px) {
            font-size: 15px;
            font-weight: 400;
            line-height: 17px;
          }
        }
      }

      &_line {
        width: 100%;
        height: 3px;
        background: #b0b7bf;

        div {
          background: #dc2a1f;
          height: 3px;
        }
      }

      @media (max-width: 1024px) {
        padding: 18px;
        width: 69%;
      }

      @media (max-width: 600px) {
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;

      &_title {
        width: 100%;
      }
    }
  }

  &_personality {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 28.8px;
    }
  }

  &_form {
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 15px));
    gap: 20px;

    &_label {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      p {
        font-size: 19px;
        font-weight: 400;
        line-height: 22.8px;
        color: #b0b7bf;
      }

      input {
        padding: 10px;
        border: none;
        background: none;
        outline: none;
        border-bottom: 3px solid #b0b7bf;
        font-size: 22px;
        font-weight: 400;
        color: #282b32;
        line-height: 28.6px;
      }
    }

    &_confirmLabel {
      display: flex;
      flex-direction: row;
      gap: 20px;
      cursor: pointer;
      position: relative;

      input {
        width: 24px;
        height: 24px;
        border: none;
        z-index: 1;
        border-radius: 5px;
      }

      p::after {
        content: "";
        border: 3px solid #b0b7bf;
        display: block;
        margin-left: -0.5px;
        margin-top: -0.5px;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        z-index: 3;
        position: absolute;
        left: 0;
        top: 0;
      }

      p::before {
        content: "";
        border: 3px solid #fff;
        display: block;
        margin-left: -1px;
        margin-top: -1px;
        width: 21px;
        height: 21px;
        border-radius: 0;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
      }

      p {
        font-size: 19px;
        font-weight: 400;
        line-height: 22.8px;
        width: 300px;
        max-width: calc(100% - 50px);
      }
    }

    @media (max-width: 1600px) {
      grid-template-columns: repeat(3, calc(100% / 3 - 15px));
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, calc(100% / 2 - 15px));
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 100%);
    }
  }

  &_orders {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > h1 {
      font-size: 28px;
      font-weight: 600;
      line-height: 33.6px;

      @media (max-width: 1024px) {
        font-size: 22px;
        font-weight: 600;
        line-height: 26.4px;
      }
    }

    &_wrapper {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 10px));
      gap: 20px;

      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 100%);
      }
    }

    &_item {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      padding: 20px;
      background: #f2f2f2;
      border-radius: 8px;

      > img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 8px;
        object-position: center;
      }

      > div {
        width: calc(100% - 150px);
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      &_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        h1 {
          font-size: 23px;
          font-weight: 600;
          line-height: 27.6px;

          @media (max-width: 1024px) {
            font-size: 18px;
            font-weight: 600;
            line-height: 23.4px;
          }
        }

        p {
          font-size: 22px;
          font-weight: 400;
          line-height: 28.6px;
          color: #dc2a1f;
          max-width: 120px;
          @media (max-width: 1024px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 23.4px;
          }
        }

        @media (max-width: 768px) {
          position: relative;

          p {
            position: absolute;
            bottom: -70px;
            width: 100%;
          }
        }
      }

      &_price {
        font-size: 23px;
        font-weight: 600;
        line-height: 27.6px;

        @media (max-width: 1024px) {
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
        }
      }

      &_details {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;
        justify-content: space-between;

        p {
          display: flex;
          flex-direction: column;
          gap: 8px;

          font-size: 19px;
          font-weight: 400;
          line-height: 22.8px;
        }

        @media (max-width: 768px) {
          margin-top: 40px;
        }
      }

      &_button {
        font-size: 22px;
        font-weight: 500;
        line-height: 26.4px;
        width: fit-content;
        background: #dc2a1f;
        padding: 12px 18px;
        border-radius: 8px;
        color: #fff;
        border: none;

        @media (max-width: 1565px) {
          font-size: 17px;
          font-weight: 500;
          line-height: 20.4px;
        }

        @media (max-width: 1024px) {
          font-size: 16px;
          font-weight: 500;
          line-height: 16px;
        }

        @media (max-width: 600px) {
          width: 100%;
        }
      }

      @media (max-width: 1024px) {
        flex-direction: column;

        > div {
          width: 100%;
        }
      }
    }
  }

  &_adresses {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;

      font-size: 23px;
      font-weight: 600;
      line-height: 27.6px;
      cursor: pointer;

      @media (max-width: 1024px) {
        font-size: 18px;
        font-weight: 400;
        line-height: 23.4px;
      }
    }
  }

  @media (max-width: 1440px) {
    padding: 50px;
  }

  @media (max-width: 1024px) {
    padding: 12px 16px;
  }
}
