.footer {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 20px));
  gap: 20px;
  padding: 30px 150px;
  background: #f2f2f2;

  &_sect {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #282b32;

    h4 {
      font-size: 28px;
      font-weight: 600;
      line-height: 33.6px;

      @media (max-width: 1440px) {
        font-size: 24px;
        line-height: 28.8px;
      }
    }

    a,
    p {
      color: #282b32;
      text-decoration: none;
      font-size: 22px;
      font-weight: 400;
      line-height: 28.6px;
      display: flex;
      gap: 13px;
      align-items: flex-start;

      @media (max-width: 1440px) {
        font-size: 18px;
        line-height: 22px;
      }

      img {
        padding-top: 2px;
      }
    }
  }

  > :last-child {
    grid-column: 1 / 5;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 48px;

    p,
    a {
      font-size: 19px;
      font-weight: 400;
      line-height: 22.8px;
    }
  }

  @media (max-width: 1440px) {
    padding: 50px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, calc(50%));
    padding: 20px;
    row-gap: 50px;

    > :last-child {
      grid-column: 1 / span 2;
      flex-direction: column;
    }
  }

  @media (max-width: 500px) {
    padding: 10px;
    grid-template-columns: repeat(1, 100%);

    > :last-child {
      grid-column: 1/1;
    }
  }
}
