:root {
  --filters-padding: 15px 50px;
}

@media (max-width: 1350px) {
  :root {
    --filters-padding: 15px 30px;
  }
}

.catalog {
  padding: 30px var(--sides-padding);
  display: flex;
  gap: 10px;

  &_top {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &_navigation {
      padding: 0 var(--sides-padding);

      p {
        color: var(--service) !important;
      }
    }
  }

  &_left {
    display: flex;
    flex-direction: column;
    min-width: 390px;
    position: sticky;
    top: 1px !important;

    @media (max-width: 1565px) {
      min-width: 310px;
    }

    @media (max-width: 1350px) {
      min-width: 248px;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &_filter {
    border-bottom: 3px solid var(--gray);

    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--filters-padding);
      cursor: pointer;
    }

    &_items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: var(--filters-padding);

      label {
        display: grid;
        grid-template-columns: 24px auto 1fr;
        gap: 10px;
        cursor: pointer;
        position: relative;

        input {
          opacity: 0;
        }

        p::after {
          content: '';
          border: 3px solid var(--service);
          display: block;
          margin-left: -0.5px;
          margin-top: -0.5px;
          width: 24px;
          height: 24px;
          border-radius: 5px;
          z-index: 3;
          position: absolute;
          left: 0;
          top: 0;
        }

        input:checked ~ p::after {
          background: var(--red);
          content: '\2713';
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white);
          border-color: var(--red);
        }

        p::before {
          content: '';
          border: 3px solid var(--white);
          display: block;
          margin-left: -1px;
          margin-top: -1px;
          width: 25px;
          height: 25px;
          border-radius: 0;
          z-index: 2;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      span {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }
    }

    &_price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--red);
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 17px;
          height: 17px;
          background: var(--red);
          border-radius: 50%;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          width: 17px;
          height: 17px;
          background: #04aa6d;
          cursor: pointer;
        }
      }
    }

    &_color {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 3px solid;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;

    &_top {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        select {
          padding: 5px 16px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--service);
          border-radius: 5px;
          background: var(--white);
          cursor: pointer;
          border-radius: 8px;

          @media (max-width: 1024px) {
            display: none;
          }
        }

        @media (max-width: 1024px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
        }
      }

      &_mobile {
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;

          svg {
            font-size: 20px;
            color: var(--red);
          }
        }

        @media (max-width: 1024px) {
          display: flex;
        }
      }

      &_brands {
        display: flex;
        gap: 15px;
        align-items: center;

        p {
          color: var(--dark);
          background: var(--gray);
          padding: 8px 16px;
          border-radius: 30px;
          cursor: pointer;
        }

        @media (max-width: 1024px) {
          display: none;
        }
      }

      &_title {
        display: flex;
        gap: 18px;
        align-items: flex-end;

        p {
          color: #b0b7bf;
        }

        @media (max-width: 1024px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
        }
      }
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 10px));
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 10px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(4, calc(100% / 4 - 10px));
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(3, calc(100% / 3 - 5px));
    }

    @media (max-width: 500px) {
      row-gap: 10px;
      grid-template-columns: repeat(2, calc(100% / 2 - 5px));
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    height: 100%;

    > img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      aspect-ratio: 1 / 1;
      object-position: top;
    }

    &_heart {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 32px;
      height: 32px;
      cursor: pointer;

      @media (max-width: 1024px) {
        width: 27px;
        height: 27px;
      }
    }

    &_prices {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 10px;

      > :first-child {
        font-size: 26px !important;

        @media (max-width: 1024px) {
          font-size: 20px !important;
        }
      }

      > :nth-child(2),
      > :nth-child(3) {
        color: #b0b7bf !important;
        font-size: 22px !important;
        text-decoration: line-through !important;

        @media (max-width: 1024px) {
          font-size: 16px !important;
        }
      }

      > :nth-child(3) {
        color: var(--red) !important;
        text-decoration: none !important;
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex-grow: 1;
    }

    &_top {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      img {
        cursor: pointer;
        width: 40px;

        @media (max-width: 1024px) {
          width: 32px;
        }
      }
    }

    &_colors {
      display: flex;
      gap: 10px;

      div {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        @media (max-width: 1024px) {
          width: 27px;
          height: 27px;
        }
      }
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      height: 50px;

      @media (max-width: 1024px) {
        height: 40px;
      }
    }
  }

  &_mob {
    position: relative;

    height: 0;
    opacity: 0;
    @media (max-width: 1024px) {
      height: auto;
      opacity: 1;
      display: flex;
      padding-bottom: 30px;
    }
  }
}
