@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --header-height: 0;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --red: #dc2a1f;
    --red-ugrent: #cd0832;
    --light-red: #e02844;
    --gray: #f2f2f2;
    --admin-light-gray: #dadada;
    --light-gray: #fbfbfb;
    --dark-gray: #70798e;
    --dark: #282b32;
    --white: #ffffff;
    --service: #b0b7bf;
    --blue: #1e293b;
    --green: #6fbd15;
    --sides-padding: 150px;
    --top-padding: 90px;
    --admin-dark: #292929;
  }

  @media (max-width: 1440px) {
    :root {
      --sides-padding: 50px;
      --top-padding: 50px;
    }
  }

  @media (max-width: 1024px) {
    :root {
      --sides-padding: 16px;
      --top-padding: 12px;
    }
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'sans-serif';
}

input::-ms-clear {
  display: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

/* fonts */
/*  */
/*  */
/*  */
/*  */

/* client */
.h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 76.8px;
  color: var(--dark);
}

.h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: var(--dark);
}

.h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  color: var(--dark);
}

.h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
  color: var(--dark);
}

.h5 {
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  color: var(--dark);
}

.h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
}

.p1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  color: var(--dark);
}

.p2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  color: var(--dark);
}

.button {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  background: var(--red);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .h1 {
    font-size: 56px;
    line-height: 67.2px;
  }

  .h2 {
    font-size: 34px;
    line-height: 40.8px;
  }

  .h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 23px;
    line-height: 27.6px;
    letter-spacing: 0px;
  }

  .h4 {
    font-size: 24px;
    line-height: 28.8px;
  }

  .h5 {
    font-size: 20px;
    line-height: 24px;
  }

  .p1 {
    font-size: 18px;
    line-height: 22px;
  }

  .p2 {
    font-size: 16px;
    line-height: 20.8px;
  }

  .button {
    font-size: 17px;
    line-height: 20.4px;
    padding: 10px 16px;
  }
}

@media (max-width: 1024px) {
  .h1 {
    font-size: 36px;
    line-height: 39.6px;
  }

  .h2 {
    font-size: 26px;
    line-height: 28.6px;
  }

  .h4 {
    font-size: 22px;
    line-height: 26.4px;
  }

  .h5 {
    font-size: 18px;
    line-height: 23.4px;
  }

  .p1 {
    font-size: 18px;
    line-height: 23.4px;
  }

  .p2 {
    font-size: 16px;
    line-height: 20.8px;
  }

  .button {
    font-size: 16px;
    line-height: 16px;
  }
}

/* admin */

#h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: var(--admin-dark);
  font-family: Nunito Sans;
}

#h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  color: var(--admin-dark);
  font-family: Nunito Sans;
}

#h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
  color: var(--admin-dark);
}

#h5 {
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  color: var(--admin-dark);
}

#p1 {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: var(--admin-dark);
  font-family: Nunito Sans;
}

#p2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: var(--admin-dark);
  font-family: Nunito Sans;
}

#b2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}

#admin-button {
  height: 40px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  background: var(--red-ugrent);
}

#button {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  background: var(--red);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
}

/* @media (max-width: 1440px) {
  #h1 {
    font-size: 56px;
    line-height: 67.2px;
  }

  #h2 {
    font-size: 34px;
    line-height: 40.8px;
  }

  #h4 {
    font-size: 24px;
    line-height: 28.8px;
  }

  #h5 {
    font-size: 20px;
    line-height: 24px;
  }

  #p1 {
    font-size: 18px;
    line-height: 22px;
  }

  #p2 {
    font-size: 16px;
    line-height: 20.8px;
  }

  #button {
    font-size: 17px;
    line-height: 20.4px;
    padding: 10px 16px;
  }
} */

@media (max-width: 1024px) {
  #h1 {
    font-size: 36px;
    line-height: 39.6px;
  }

  #h2 {
    font-size: 26px;
    line-height: 28.6px;
  }

  #h4 {
    font-size: 22px;
    line-height: 26.4px;
  }

  #h5 {
    font-size: 18px;
    line-height: 23.4px;
  }

  #p1 {
    font-size: 18px;
    line-height: 23.4px;
  }

  #p2 {
    font-size: 16px;
    line-height: 20.8px;
  }

  #button {
    font-size: 16px;
    line-height: 16px;
  }
}

#adminSideBar_link.active {
  background: #f8fafc;
  color: #1e293b;
}

#adminSideBar_link.active svg {
  opacity: 1;
  fill: #1e293b;
}

.radio {
  min-width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  position: relative;
}

.radio::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--service);
}

.radio:checked::after {
  content: url('@/assets/images/check.svg');
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px !important;
  border-radius: 4px;
  z-index: 1;
  background: var(--red);
  border-radius: 50%;
  border: 2px solid var(--red);
}

.checkbox {
  min-width: 24px !important;
  height: 24px;
  display: block;
  appearance: none;
  position: relative;
}

.checkbox::after {
  border: 2px solid var(--service);
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.checkbox:checked::after {
  content: url('@/assets/images/check.svg');
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px !important;
  border-radius: 4px;
  z-index: 1;
  background: var(--red);
  border: 2px solid var(--red) !important;
}

#checkbox {
  min-width: 24px !important;
  height: 24px;
  display: block;
  appearance: none;
  position: relative;
}

#checkbox::after {
  border: 2px solid var(--service);
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1;
}

#checkbox:checked::after {
  content: url('@/assets/images/checkmark.svg');
  color: var(--light-red);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px !important;
  border-radius: 6px;
  z-index: 1;
  border: 2px solid var(--light-red) !important;
}

.addAddressButton {
  cursor: pointer;
  color: var(--service);
  font-size: 20px;
}

.pvzTypeSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
  margin: 20px 0;
  padding: 6px;
  border-radius: 8px;

  div {
    background: none;
    border-radius: 8px;
    color: var(--service);
    width: calc(50% - 6px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    background: var(--white);
    color: var(--red);
  }
}

@media (max-width: 768px) {
  .map-cont {
    display: flex;
    flex-direction: column;

    > div {
      width: 100%;
      height: 200px;
      max-height: 200px;
    }

    > :nth-child(2) {
      height: 300px;
      max-height: 300px;
    }
  }
}

@media (max-width: 1000px) {
  .inputs-label {
    z-index: 499;
    position: absolute;
    background: #fff;
    max-width: 100%;
    width: 100%;
    bottom: 0;
    transform: translateY(85%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

.adminHeader_link.active {
  background: #fff;
  padding: 0;
  margin: 0 20px;
  border-bottom: 1px solid var(--red);
}
