.header {
  padding: 10px var(--sides-padding);
  display: flex;
  justify-content: space-between;
  background: #fff;

  &_sect {
    display: flex;
    gap: 32px;
    align-items: center;

    a {
      font-size: 23px;
      font-weight: 500;
      line-height: 27.6px;
      text-align: center;
      text-decoration: none;
      color: var(--dark);

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &_logo_wrapper {
    display: inline-block; /* Логотип не будет сжиматься */
    width: auto;
    height: auto;
  }

  &_logo {
    width: 100px; /* Можно изменять на нужный размер */
    height: auto;
  }

  &_menu {
    display: none;
  }

  &_logo {
    img {
      width: 100px !important;
      height: auto !important;
    }
  }

  @media (max-width: 900px) {
    a {
      display: none;
    }

    &_logo {
      display: flex !important;
    }

    &_menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      gap: 5px;

      span {
        height: 3px;
        width: 25px;
        display: block;
        background: #000;
      }
    }
  }
}
