.header {
  padding: 10px var(--sides-padding);
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: sticky;
  top: 0;

  &_sect {
    display: flex;
    gap: 32px;
    align-items: center;

    a {
      font-size: 23px;
      font-weight: 500;
      line-height: 27.6px;
      text-align: center;
      text-decoration: none;
      color: var(--dark);
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &_link {
    color: var(--dark);

    &:hover {
      color: var(--red);
    }

    &_subdiv {
      display: none;
      z-index: 99;

      &_brand {
        display: none;
      }
    }

    &_subdiv:hover {
      display: flex;
    }

    &:hover > &_subdiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      position: absolute;
      padding: 80px 120px;
      background: var(--white);
    }
  }

  &_logo_wrapper {
    display: inline-block;
    width: auto;
    height: auto;
  }

  &_logo {
    width: 100px;
    height: auto;
  }

  &_menu {
    display: none;
  }

  &_logo {
    img {
      width: 100px !important;
      height: auto !important;
    }

    margin-right: calc(56px - 32px);
  }

  @media (max-width: 900px) {
    a {
      display: none;
    }

    &_logo {
      display: flex !important;
    }

    &_menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      svg {
        transform: scale(2);
      }
    }
  }

  &_width {
    position: fixed;
    top: 0;
    right: 0;
    background: #00000090;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    z-index: 2;

    @media (max-width: 1024px) {
      top: 100%;
      right: 100%;
      transform: translate(100%, -100%);
    }
  }

  &_catalogLink:hover {
    opacity: 1 !important;
  }
}
.header_sect {
  display: flex;
  align-items: center;
  position: relative;
}

.header_logo_wrapper {
  display: flex;
}

.header_link_with_menu {
  position: relative;
}

.dropdown_menu {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  // opacity: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 80px 120px;
  transform: translateX(-120px);
  gap: 40px;
}

.dropdown_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown_block a {
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
}

.dropdown_block a:hover {
  color: var(--red);
}

.mob_navigation {
  display: none;

  @media (max-width: 900px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 70px;
    background: var(--white);

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      svg {
        transform: scale(1.5);
      }
    }
  }
}
