.adminLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #f8f8f8;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: fit-content;
    height: fit-content;
    position: relative;

    h1 {
      font-size: 32px;
      font-weight: 500;
      line-height: 38.73px;
      margin-bottom: 20px;
      color: #000;
      text-align: center;
    }

    input {
      background: #f6f6f6;
      padding: 20px 20px 10px;

      font-size: 16px;
      font-weight: 400;
      line-height: 24.2px;
      color: #202224;
      border-radius: 10px;
      width: 390px;
      border: 1px solid;

      border: 1px solid #ebebeb;
      outline: none;
    }

    input:focus {
      border: 1px solid #eb8f75;
    }

    input[type='submit'] {
      background: #dc2a1e;
      color: #fff;
      padding: 15px 20px;
      margin-top: 20px;
    }

    input[type='submit']:disabled {
      background: #dc2a1e80;
    }

    section {
      position: relative;
    }

    button {
      position: absolute;
      right: -40px;
      top: 15px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      color: #737373;
      text-align: center;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      color: #000;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &_code_sect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  &_sendSect {
    box-shadow: 0px 4px 10px 0px #dddddd1a;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background: #fff;
  }

  &_infoP {
    font-size: 18px !important;
    font-weight: 400;
    max-width: 466px;
    line-height: 24px !important;
    color: #a4a4a4 !important;
  }

  &_err {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 24px !important;
    text-align-last: left;
    text-align: left;
    color: #dc2a1e !important;
    margin: 0 !important;
    display: flex;
    align-items: flex-end;
  }
}
