.adminLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #f8f8f8;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: fit-content;
    height: fit-content;
    position: relative;

    h1 {
      font-size: 32px;
      font-weight: 500;
      line-height: 38.73px;
      margin-bottom: 20px;
      color: #000;
      text-align: center;
    }

    input {
      background: #f6f6f6;
      padding: 15px 20px;

      font-size: 20px;
      font-weight: 400;
      line-height: 24.2px;
      color: #202224;
      border-radius: 10px;
      width: 390px;
      border: 1px solid;

      border: 1px solid #ebebeb;
      outline: none;
    }

    input:focus {
      border: 1px solid #eb8f75;
    }

    input[type='submit'] {
      background: #eb8f75;
      color: #fff;
      margin-top: 20px;
    }

    input[type='submit']:disabled {
      background: #737373;
    }

    section {
      position: relative;
    }

    button {
      position: absolute;
      right: -40px;
      top: 15px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      color: #737373;
      text-align: center;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      color: #000;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &_code_sect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  &_sendSect {
    box-shadow: 0px 4px 10px 0px #dddddd1a;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background: #fff;
  }
}
